langgraph>=0.2.0
langgraph-checkpoint-postgres>=2.0.0
rich
pytest
pytest-asyncio
pytest-mock
python-dotenv
aiosqlite
asyncpg
langchain_openai
langgraph-checkpoint-sqlite
tavily-python
redis
langchain-community
exa-py